extends layout

block content
  //- Fixed navbar
  .navbar.navbar-inverse.navbar-fixed-bottom
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse", data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        h3(style="color:#fff;") FBomb
        //-  <a class="navbar-brand" href="#">Bootstrap theme</a> 
      .navbar-collapse.collapse(style="padding-top:8px;")
        ul.nav.navbar-nav
          li
            a(href="http://mgingras.ca/coding/fBomb/") About
          li
            a(href="mailto:martin@mgingras.ca?Subject=fBomb", title="FBomb!") Contact
  
        ul.nav.navbar-nav.navbar-right
          li
            small(style="color:white;") created by: 
              a(href="http://mgingras.ca") Martin Gingras
  #title-bar.alert.alert-dismissable.navbar-inverse.navbar-brand
    button#title-close.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
    <strong><a href="https://twitter.com/FBomb_co">@FBomb_co</a></strong> <small style="color:#999">See where in the world the FBomb is being dropped!!<br><span style="color:white;">Click a signpost for details...</span></small>
    <br><br>
    <a href="https://twitter.com/FBomb_co" class="twitter-follow-button" data-show-count="false">Follow @FBomb_co</a>
    
      
  #map-canvas
  .row.feed
    .col-lg-2.col-lg-offset-10.col-md-2.col-md-offset-10.col-sm-2.col-sm-offset-10
  script
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42796191-4', 'fbomb.co');
    ga('send', 'pageview');
  script(src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBR7u3qGNezNqWNqF3CW-2A07lexQ7EtI0")