extends layout

block content
  #fb-root
  script

  //- Fixed navbar
  .navbar.navbar-inverse.navbar-fixed-bottom
    .container
      .navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse", data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        h3(style="color:#fff;") FBomb
        //-  <a class="navbar-brand" href="#">Bootstrap theme</a>
      .navbar-collapse.collapse(style="padding-top:8px;")
        ul.nav.navbar-nav
          li
            a(href="http://mgingras.ca/coding/fBomb/") About
          li
            a(href="mailto:martin@mgingras.ca?Subject=fBomb", title="FBomb!") Contact
        ul.nav.navbar-nav.navbar-right
          li
            small(style="color:white;") created by:
              a(href="http://mgingras.ca") Martin Gingras
  #title-bar.alert.alert-dismissable.navbar-inverse.navbar-brand
    button#title-close.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
    h1 <a href="https://twitter.com/FBomb_co">@FBomb_co </a>
    h4 See where in the world the FBomb is being dropped!
    h4 <small>Click a signpost ( <img class="img-responsive"src="/img/signPost.png" style="display:inline;"></img>) for details...</small>
    p.help <small style="font-size: 70%;">Not seeing your tweets? Check out: <a href="https://t.co/Q5C0aFrN1E">https://t.co/Q5C0aFrN1E</a></small></p>
    <br>
  #map-canvas
  .row.feed
    .col-lg-2.col-lg-offset-10.col-md-2.col-md-offset-10.col-sm-2.col-sm-offset-10
  #menu
    .container(style="width:100%;")
      h1(style="color:#fff;")
        a(href="https://twitter.com/FBomb_co") @Fbomb_co
      h4(style="margin:5px;color:#fff;") Fucks Given...
      hr
      .tweetstream.col-xs-12.container


  script(src="https://maps.googleapis.com/maps/api/js?sensor=false&key=" + api)
  script
    //Facebook js here
    //Twitter js here
