doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(author="Martin Gingras")
    meta(name ="description", content="See where in the world the FBomb is being dropped!")
    meta(name="keywords", content="FBomb,Twitter,Fuck,Map,TwitterMap,Tweetmap,Martin Gingras,Martin,Gingras")

    // Apple meta tags
    meta(name="apple-mobile-web-app-capable", content="yes" )
    meta(name="viewport", id="vp", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    meta(name="viewport", id="vp6", content="initial-scale=1.0,user-scalable=no,maximum-scale=1",  media="(device-height: 568px)")
    link(rel="apple-touch-icon", href="/img/fBomb.png")
    link(rel="apple-touch-icon-precomposed", href="/img/fBomb.png")

    // Open Graph
    meta(property="og:title", content="FBomb.co")
    meta(property="og:url", content="http://www.FBomb.co")
    meta(property="og:image", content="http://FBomb.co/img/fBomb.png")
    meta(property="og:description", content="See where in the world the FBomb is being dropped!")

    // Stylesheets
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/add2home.min.css')

    // Scripts
    script(src="/js/jquery-2.0.3.min.js")
    script(src='/js/fBomb.min.js')
    script(src='/js/add2home.min.js')
    script(src='/js/urlize.min.js')
    script(src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js")

    // Icons
    link(rel="icon", type="image/ico", href="/img/favicon.ico")
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='image_src' href="/img/fBomb.png")
  body
    block content
