doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src='/js/fBomb.js')
    script(src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBR7u3qGNezNqWNqF3CW-2A07lexQ7EtI0")
     
  body
    block content