doctype 5
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(author="Martin Gingras")
    meta(name ="description", content="See where shit is going down on Twitter!")
    meta(name="keywords", content="FBomb,Twitter,Shit,shitstorm,Map,TwitterMap,Tweetmap,Martin Gingras,Martin,Gingras")
    
    // Apple meta tags
    meta(name="apple-mobile-web-app-capable", content="yes" )
    meta(name="viewport", id="vp", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    meta(name="viewport", id="vp6", content="initial-scale=1.0,user-scalable=no,maximum-scale=1",  media="(device-height: 568px)")
    link(rel="apple-touch-icon", href="/img/shitstorm.png")
    link(rel="apple-touch-icon-precomposed", href="/img/shitstorm.png")
    
    // Open Graph
    meta(property="og:title", content="Shitstorm")
    meta(property="og:url", content="http://shitstorm.FBomb.co")
    meta(property="og:image", content="http://shitstorm.fbomb.co/img/shitstorm.png")
    meta(property="og:description", content="See where shit is going down on Twitter!")
    
    // Stylesheets
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/add2home.min.css')
    
    // Scripts
    script(src="/js/jquery-2.0.3.min.js")
    script(src='/js/fBomb.min.js')
    script(src='/js/add2home.min.js')
    script(src='/js/bootstrap.min.js')
     
    // Icons
    link(rel="icon", type="image/ico", href="/img/favicon.ico")
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='image_src' href="/img/shitstorm.png")
  body
    block content
